header{
    display: flex;
    justify-content: space-between;
    align-items: center;
     position: relative;
}


h1{
  text-align: center;
    flex: 1;
    color:#6f4827;
    font-style: oblique;
    
    
}

h2{
    font-family: Arial, sans-serif;
    color:black;
    padding-left: 5px;
    
}

ul{
    
   display: flex;
    justify-content: space-evenly;
    border: solid 1px ; 
    border-radius: 20px; 
    background-color:#6f4827;
    height: 62px;
    font-size: x-large;
    text-align: center;

   
}
nav li + li:before{
    content: " | ";
    padding: 0 5px;
}


div{
    display: flex;
    color:black;
    background-color: #EFDECD;
    border: solid 5px #6f4827 ;
    
    
}
.headdiv{
  flex-direction: column;
}


  footer {
   
    border: 1px solid;
    height: 22px; 
    text-align: center;
    flex: 1;
    background-color:#6f4827;
    height: 62px;
   font-size: x-large;
    
  }
  aside{
    border: solid 5px #6f4827;
    flex: wrap;
  }
aside img{
  height: 44%;
  width: 49%;
  flex: wrap;
}
aside h2{
  text-align: center;
    flex: 1;
    color:black;
    
    
}